.inputdiv{
   width: 100.5%;
    height:40px;
    display: flex;
   position: absolute;
   bottom: 0px;
   left:0;
   right:0;
}
.inputdiv textarea{
    width: 80%;
    font-weight: 500;
    font-size: 1.2em;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    max-width: 80%;
    min-width: 80%;
    border: 1.5px solid rgb(221, 20, 114) ;
    border-bottom: none;
    border-left: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    scrollbar-width: none;
}

textarea::-webkit-scrollbar{
    display: none;
}

.inputdiv textarea:focus{
    outline: none;
}

.sendbutton{
    height:47px;
    background-color: rgb(244, 192, 200);
    width: 20%;
    cursor: pointer;
    font-size: large;
    font-weight: 700;
    border: 1.5px solid rgb(221, 20, 114) ;
    border-bottom: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sendbutton i{
    font-size: 1.5em;
    color:rgb(221, 20, 114);
}
@media (max-width:1500px) {
    .sendbutton{
     
        width: 30%;
    }
    .inputdiv textarea{
        max-width: 70%;
        min-width: 70%;
        
        width: 70%;
    }
}


@media (max-width:1024px) and (max-height:1366px) {
    .inputdiv{
        height:35%;
    }
    .sendbutton{
        height:112%;
    }
}    
  
@media (max-width:1024px) and (max-height:1366px) {
    .inputdiv{
        height:40px;
    }
    .sendbutton{
        height:47px;
    }
}    
  
@media (max-width:500px) {
  
    .sendbutton{
        font-size: small;
        width: 35%;
    }
    .inputdiv textarea{
        max-width: 65%;
        min-width: 65%;
        
        width: 65%;
    }
}
