.messagecont{
    max-width:50%;
    display: flex;
    flex-direction: column;
  
    flex-wrap: wrap;
   height: auto;
   margin:2px 10px 2px 10px;
   padding-right:5px;
   border-radius: 15px;
   border: 4px solid beige;
   box-shadow: inset 0.5px 0.5px 2px rgb(221, 20, 114),inset -0.5px -0.5px 2px rgb(221, 20, 114),0.5px 0.5px 5px rgb(221, 20, 114),-0.5px -0.5px 2px rgb(221, 20, 114);
}

.outerbox{
    width: 95%;
    max-width:95%;
    padding:7px;
    display:block;

 
    margin: auto;
  overflow-x: hidden;
}

.end{
    background-color: antiquewhite;
 margin-left: auto;
}

.end > .username{
  
    font-family: 'Edu TAS Beginner', cursive;
    padding-top:2px;padding-bottom: 2px;
    color:green;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    display: inline-block;
    height: auto;
   overflow: auto;
   padding: 5px;

    white-space: pre-line;
    font-weight: bolder;

}

.start{
    background-color:antiquewhite;
    margin-right:auto ;
    width: auto;
   
}

.bgwhite{
    color: black;font-weight: bolder;
}

.start > .username{
    padding-top:2px;padding-bottom: 2px;
    color:red;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    max-width: 100%;
    display: inline-block;
    height: auto;
  overflow: auto;
  padding: 5px;
  font-family: 'Edu TAS Beginner', cursive;
  white-space: pre-line;
    font-weight: bolder;
}

.messagebox{
    max-width: 100%;
    height: auto;
    word-wrap: break-word;

}

.messagebox span{
    max-width: 100%;
    display: inline-block;
    height: auto;
    overflow: auto;
    padding: 5px;
    white-space: pre-line;
  
  font-family: 'Poppins', sans-serif;
    
}

.bgblue span{
    color:black;
    font-weight: bolder;
}

@media (max-width:1050px) {
    .username{
        font-size: small;
    }
}
@media (max-width:300px){
    .messagecont{
        max-width: 75%;
    }
}