.signupcont{
    width:40vw;
    background-color: rgb(221, 20, 114) ;
    min-height: 70vh;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgb(221, 20, 114);
    
   border-radius: 6px;
 
}

.signupheading{
   display: flex;
    height: 20%;
    justify-content: space-around;
    align-items: center;
    font-weight: 800;
    width: 100%;
}
.inputsignupcont{
    color:rgb(221, 20, 114) ;
    background-color:black;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: larger;
   
}



label{
    margin-right: 15px;
}

.buttonsignupcont{
    margin:5px 10px 5px 10px;
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.button{
    text-align: center;
}

.inputname{
    display: flex;
    flex-direction: column;
}
.inputpass{
    display: flex;
    flex-direction: column;
}

@media (max-width:700px) {
    .signupcont{
        width: 75vw;

    }
    .signupheading{
        flex-direction: column;
    }
}
@media (max-width:400px){
    .buttonsignupcont{
        display: flex;
        flex-direction: column;
        align-items: center;
       
        
    }
    .buttonsignupcont button{
        margin-top: 10px;
    }
    
}

@media (max-width:370px){
    .signupcont{
        width: 90vw;
    }
}